<!-- 만드는 순서  -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pd-2">답변 수정</h5>
     <!-- th:object="${answerForm}" : AnswerForm answerForm = new AnswerForm 해서 불러오는 것과 비슷하게 보면 됨-->
    <form th:object="${answerForm}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

                    <!-- ~{form_errors :: formErrorsFragment} : 클래스 개념으로 보면 form_errors클래스 안의 formErrorsFragment 메서드 혹은 필드 값을 부른거라고 보면 됨 -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>

        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" name="content" th:field="*{content}" rows="10" class="form-control"></textarea>
        </div>

        <input type="submit" value="수정하기" class="btn btn-primary my-2">
    </form>
</div>
</html>