<!-- 만드는 순서 12 -->
<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">

        <!-- 질문 -->
        <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
        <div class="card my-3">
            <div class="card-body">

                <!--  작성자, 작성일, 수정일   -->
                                   <!-- utext : html 형식의 키워드가 있으면 알아서 인식하여 출력해줌 -->
                                                <!-- commonUtil 클래스 명이지만 자동으로 소문자로 변환이 되어 여기서는 소문자로 작성 -->
                <div class="card-text" th:utext="${@commonUtil.markdownToHtml(question.content)}"></div>
                <div class="d-flex justify-content-end">

                    <!-- 수정일 -->
                    <div class="badge bg-light text-dark p-2 text-start mx-3"
                         th:if="${question.modifyDate != null}">
                        <div class="mb-2">modified at</div>
                        <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>

                    <!--  작성자, 작성일   -->
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${question.siteUser != null}"
                                  th:text="${question.siteUser.username}"></span></div>
                        <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>
                </div>

                <div class="my-3">
                    <a class="like btn btn-sm btn-outline-secondary"
                       href="javascript:void(0);"
                       th:data-uri="@{|/question/like/${question.id}|}">
                        좋아요
                        <span class="badge rounded-pill bg-success"
                                th:text="${#lists.size(question.like)}"></span>
                    </a>
                    <!-- "isAuthenticated()" 로그인 했을때만 보여라
                    '#'은 함수를 호출할때 씀
                     sec : 스프링 시큐리티
                     th : 타임 리프 -->
                    <a class="btn btn-sm btn-outline-secondary"
                       th:href="@{|/question/modify/${question.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.siteUser != null and #authentication.getPrincipal().getUsername() == question.siteUser.username}"
                       th:text="수정"></a>

                    <!-- 타임리프가 아닌 부트스트립을 활용하여 삭제 기능 구현 -->
                    <a class="delete btn btn-sm btn-outline-secondary"
                       href="javascript:void(0);"
                       th:data-uri="@{|/question/delete/${question.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${question.siteUser != null and #authentication.getPrincipal().getUsername() == question.siteUser.username}"
                       th:text="삭제"></a>
                </div>

            </div>
        </div>

        <!--답변의 갯수 표시-->
        <h5 class="border-bottom my-3 py-2" th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|"></h5>

        <!--답변 목록 표시-->
        <div class="card my-3" th:each="answer : ${question.answerList}">

            <a th:id="|answer_${answer.id}|"></a>

            <div class="card-body">
                <div class="card-text" th:utext="${@commonUtil.markdownToHtml(answer.content)}"></div>
                <div class="d-flex justify-content-end">

                    <!-- 수정일 -->
                    <div class="badge bg-light text-dark p-2 text-start mx-3"
                         th:if="${answer.modifyDate != null}">
                        <div class="mb-2">modified at
                        <span th:if="${answer.siteUser != null}"
                              th:text="${answer.siteUser.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>

                    <!--  작성자, 작성일   -->
                    <div class="badge bg-light text-dark p-2 text-start">
                        <div class="mb-2">
                            <span th:if="${answer.siteUser != null}"
                                  th:text="${answer.siteUser.username}"></span>
                        </div>
                        <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm:ss')}"></div>
                    </div>

                </div>

                <div class="my-3">

                    <a class="like btn btn-sm btn-outline-secondary"
                       href="javascript:void(0);"
                       th:data-uri="@{|/answer/like/${answer.id}|}">
                        좋아요
                        <span class="badge rounded-pill bg-success"
                              th:text="${#lists.size(answer.like)}"></span>
                    </a>

                    <!-- "isAuthenticated()" 로그인 했을때만 보여라
                    '#'은 함수를 호출할때 씀
                     sec : 스프링 시큐리티
                     th : 타임 리프 -->
                    <a class="btn btn-sm btn-outline-secondary"
                       th:href="@{|/answer/modify/${answer.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.siteUser != null and #authentication.getPrincipal().getUsername() == answer.siteUser.username}"
                       th:text="수정"></a>

                    <!-- 타임리프가 아닌 부트스트립을 활용하여 삭제 기능 구현 -->
                    <a class="delete btn btn-sm btn-outline-secondary"
                       href="javascript:void(0);"
                       th:data-uri="@{|/answer/delete/${answer.id}|}"
                       sec:authorize="isAuthenticated()"
                       th:if="${answer.siteUser != null and #authentication.getPrincipal().getUsername() == answer.siteUser.username}"
                       th:text="삭제"></a>
                </div>

            </div>
        </div>

        <!--답변작성-->
        <form class="my-3" method="post"
              th:action="@{|/answer/create/${question.id}|}"
              th:object="${answerForm}">

            <div th:replace="~{form_errors :: formErrorsFragment}"></div>
            <!-- 로그인 되었을 때와 안되었을 때 코드, disabled 를 하면 작성 판이 비활성화 됨 -->
            <textarea sec:authorize="isAnonymous()" disabled
                      th:field="*{content}"
                      class="form-control" name="content" id="content" rows="10"></textarea>
            <textarea sec:authorize="isAuthenticated()"
                      th:field="*{content}"
                      class="form-control" name="content" id="content" rows="10"></textarea>

            <input class="btn btn-primary my-2" type="submit" value="답변 등록">
        </form>
        <script type="text/javascript">
<!--            const delete_elements = document.getElementsByClassName("delete");-->
<!--            Array.from(delete_elements).forEach((element) {-->
<!--                element.addEventListener('click', () {-->
<!--                    if(confirm("정말로 삭제하시겠습니까?")) {-->
<!--                        location.href = element.dataset.uri;-->
<!--                    }-->
<!--                });-->
<!--            });-->
<!--                        const like_elements = document.getElementsByClassName("like");-->
<!--            Array.from(like_elements).forEach((element) {-->
<!--                element.addEventListener('click', () {-->
<!--                    if(confirm("정말로 좋아요하시겠습니까?")) {-->
<!--                        location.href = element.dataset.uri;-->
<!--                    }-->
<!--                });-->
<!--            });-->


            const delete_elements = document.getElementsByClassName("delete");
            Array.from(delete_elements).forEach(element => {
                element.addEventListener('click', () => {
                    if(confirm("정말로 삭제하시겠습니까?")) {
                        const uri = element.dataset.uri;
                        location.href = uri;
                    }
                });
            });
            const like_elements = document.getElementsByClassName("like");
            Array.from(like_elements).forEach(element => {
                element.addEventListener('click', () => {
                    if(confirm("정말로 좋아요하시겠습니까?")) {
                        const uri = element.dataset.uri;
                        location.href = uri;
                    }
                });
            });
        </script>
    </div>
</html>