<!-- 만드는 순서 9 -->
<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <h5 class="my-3 border-bottom pd-2">질문 등록</h5>
    <!--  questionForm이걸 따로 만들어서 경고용 내용을 만들고, 여기서 불러와 사용.  -->
    <form th:action="@{/question/create}" th:object="${questionForm}" method="post">
        <!--    form_errors이 html에서 formErrorsFragment이걸 불러옴. 다른 곳에서도 불러와 사용가능    -->
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <div class="mb-3">
            <label for="subject" class="form-label">제목</label>
            <input id="subject" name="subject" th:field="*{subject}" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea id="content" name="content" th:field="*{content}" rows="10" class="form-control"></textarea>
        </div>
        <input type="submit" value="저장하기" class="btn btn-primary my-2">
    </form>
</div>
</html>