<html layout:decorate="~{layout}">
    <div layout:fragment="content" class="container my-3">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="question, loop : ${questionList}"> <!-- for(question : questionList) 동일 -->
                    <td th:text="${loop.count}"></td> <!-- 페이지에 생성된 게시물 사이즈로 번호 생성 -->
                    <!-- <td th:text="${question.id}"></td> 게시물 아이디로 번호 생성 -->
                    <td>
                        <a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}"></a> <!-- '|' 주소 '|' : 두 개의 참조 값을 연결해 줌 -->
                    </td>                                                   <!-- question.getsubject 동일 -->
                    <td th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                </tr>
            </tbody>
        </table>
        <!--   페이징 처리     -->
        <div th:if="${!questionList.isEmpty()}">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:classappend="${!questionList.hasPrevious} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${questionList.number-1}|}">
                        <span>이전</span>
                    </a>
                </li>
                <li>
                    페이지
                </li>
                <li class="page-item" th:classappend="${!questionList.hasNext} ? 'disabled'">
                    <a class="page-link" th:href="@{|?page=${questionList.number+1}|}">
                        <span>다음</span>
                    </a>
                </li>
            </ul>

        </div>
        <a th:href="@{/question/create}" class="btn btn-primary">질문 등록</a>
    </div>
</html>